BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: All
IndentPPDirectives: AfterHash
AlignTrailingComments: true
BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: All
AlignConsecutiveAssignments: AcrossEmptyLines
ColumnLimit: 0
BinPackArguments: true
BinPackParameters: true
